body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #98FB98, #7FFF00);
}
.form{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: black;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 2px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
}
.form h1{
    color:white;
    text-transform: uppercase;
    font-weight:500px;
}
.form input[type = "text"], .form input[type = "password"]{
    border: 0px;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    border-color: #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius:24px; 
    transition: 0.25s;
}
.form input[type = "text"]:focus, .form input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.form input[type = "submit"]{
    border: 0px;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    border-color: #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.form input[type = "submit"]:hover{
    background: #2ecc71;


}
a {
    font-style: none;
    text-align: center;
    color: #3498db;
}




























